<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458636555335-hv87bbcsiqe13u670ntbj5r5gtgu348p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458636555335-hv87bbcsiqe13u670ntbj5r5gtgu348p</string>
	<key>API_KEY</key>
	<string>AIzaSyBOrmpcL0mVvY3PiWJX51YkelrlMlYewko</string>
	<key>GCM_SENDER_ID</key>
	<string>458636555335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jcllamas.vitalhelplApp</string>
	<key>PROJECT_ID</key>
	<string>vital-help</string>
	<key>STORAGE_BUCKET</key>
	<string>vital-help.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458636555335:ios:10d7f5c9256d42c1f7ed62</string>
</dict>
</plist>